<% include partials/header %>

<h1>Homepage: Mr. Pomsky</h1>
<img src="https://i1.wp.com/puppytoob.com/wp-content/uploads/2018/05/Pomsky-Puppy.jpg?w=990&ssl=1" alt="Mr. Pomsky">

<%include partials/footer%>